<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
<footer style="background-color: #000000; padding: 40px 0; color: #fff; overflow: hidden;">

    <div class="footer-section" style="float: left; width: 16.666%; padding: 0 15px;">
        <h3 style="font-size: 23px; border-bottom: 2px solid #fff; padding-bottom: 10px; color: #17e4e8;">Jobs by Location</h3>
        <ul style="list-style: none; padding-left: 0;">
            <li><a href="#" style="color: #fcfcfc; font-size:18px; text-decoration: none;">Startup Jobs in India</a></li>
            <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">Startup Jobs in Bangalore</a></li>
            <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">Startup Jobs in Delhi</a></li>
            <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">Startup Jobs in Pune</a></li>
            <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">Startup Jobs in Hyderabad</a></li>
        </ul>
    </div>
        
        <div class="footer-section" style="float: left; width: 16.666%; padding: 0 15px;">
            <h3 style="font-size: 23px; border-bottom: 2px solid #fff; padding-bottom: 10px; color: #17e4e8;">Technology Jobs</h3>
            <ul style="list-style: none; padding-left: 0;">
                <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">Android Developer Jobs</a></li>
                <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">iOS Development Jobs</a></li>
                <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">Frontend Developer Jobs</a></li>
                <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">Backend Developer Jobs</a></li>
                <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">DevOps Jobs</a></li>
            </ul>
        </div>
        
        <div class="footer-section" style="float: left; width: 16.666%; padding: 0 15px;">
            <h3 style="font-size: 23px; border-bottom: 2px solid #fff; padding-bottom: 10px; color: #17e4e8;">Business & Design Jobs</h3>
            <ul style="list-style: none; padding-left: 0;">
                <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">Marketing and Sales Jobs</a></li>
                <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">Digital Marketing Jobs</a></li>
                <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">UX and Graphic Design Jobs</a></li>
                <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">Product Manager Jobs</a></li>
                <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">Product Based Company Jobs</a></li>
            </ul>
        </div>
        
        <div class="footer-section" style="float: left; width: 16.666%; padding: 0 15px;">
            <h3 style="font-size: 23px; border-bottom: 2px solid #fff; padding-bottom: 10px; color: #17e4e8;">Popular Collections</h3>
            <ul style="list-style: none; padding-left: 0;">
                <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">Video Editing Jobs</a></li>
                <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">Content Writing Jobs</a></li>
                <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">Funded Startups Jobs</a></li>
                <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">Data Science Jobs</a></li>
                <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">IoT Jobs</a></li>
            </ul>
        </div>
        
        <div class="footer-section" style="float: left; width: 16.666%; padding: 0 15px;">
            <h3 style="font-size: 23px; border-bottom: 2px solid #fff; padding-bottom: 10px; color: #17e4e8;">Top Companies Hiring</h3>
            <ul style="list-style: none; padding-left: 0;">
                <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">Meesho Jobs</a></li>
                <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">Paytm Jobs</a></li>
                <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">Vedantu Jobs</a></li>
                <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">MX Player Jobs</a></li>
                <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">Truemeds India Jobs</a></li>
            </ul>
        </div>
        
        <div class="footer-section" style="float: left; width: 16.666%; padding: 0 15px;">
            <h3 style="font-size: 23px; border-bottom: 2px solid #fff; padding-bottom: 10px; color: #17e4e8;">Top Companies in India</h3>
            <ul style="list-style: none; padding-left: 0;">
                <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">EdTech Companies</a></li>
                <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">B2B Companies</a></li>
                <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">B2C Companies</a></li>
                <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">Fintech Companies</a></li>
                <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">HR Companies</a></li>
            </ul>
        </div>
        
        <div class="footer-section" style="float: left; width: 16.666%; padding: 0 15px;">
            <h3 style="font-size: 23px; border-bottom: 2px solid #fff; padding-bottom: 10px; color: #17e4e8;">Browse Job Categories</h3>
            <ul style="list-style: none; padding-left: 0;">
                <li><a href="#" style="color: #fcfcfc;font-size:18px; text-decoration: none;">Jobs by Category</a></li>
            </ul>
        </div>
        
        <div class="footer-section" style="float: left; width: 16.666%; padding: 0 15px;">
            <h3 style="font-size: 23px; border-bottom: 2px solid #fff; padding-bottom: 10px; color: #17e4e8;">Discover Companies</h3>
            <ul style="list-style: none; padding-left: 0;">
                <li><a href="#" style="color: #fcfcfc;font-size:18px; text-decoration: none;">List of Companies</a></li>
            </ul>
        </div>
        
        <div class="footer-section" style="float: left; width: 24%; padding: 0 15px;">
            <h3 style="font-size: 23px; border-bottom: 2px solid #fff; padding-bottom: 10px; color: #17e4e8;">Browse Company Categories</h3>
            <ul style="list-style: none; padding-left: 0;">
                <li><a href="#" style="color: #fcfcfc; font-size:18px;text-decoration: none;">Companies by Category</a></li>
            </ul>
        </div>
        <div style="clear: both; padding-top: 20px; text-align: center; background-color: #000000;">
            <div style="margin-bottom: 20px;">
                <span style="color: #ffffff; font-size: 20px; margin-right: 20px;">Follow Us On:</span>
                <a href="#" style="margin-right: 10px; color: #ffffff;">
                    <i class="fab fa-facebook-square fa-2x"></i>
                </a>
                <a href="#" style="margin-right: 10px; color: #ffffff;">
                    <i class="fab fa-twitter-square fa-2x"></i>
                </a>
                <a href="#" style="margin-right: 10px; color: #ffffff;">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
                <a href="#" style="margin-right: 10px; color: #fffcfc;">
                    <i class="fab fa-instagram-square fa-2x"></i>
                </a>
            </div>
        </div>
        <div style="clear: both; padding:0.015px; text-align: center; background-color: #ffffff;">
            <p style="color: #000000; font-size: 20px; font-weight: bold;">&copy; Job Quest 2024 . All rights reserved.</p>
        </div>
    </footer>
    
    </body>
    </html>
    